.margin-bottom-30 {
  margin-bottom: 1.875rem;
}

.margin-top-30 {
  margin-top: 1.875rem;
}

.margin-y-30 {
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

.margin-top-45 {
  margin-top: 2.8125rem;
}

.margin-bottom-45 {
  margin-bottom: 2.8125rem;
}

.margin-top-12 {
  margin-top: 0.75rem;
}

.margin-right-12 {
  margin-right: 0.75rem;
}

.margin-bottom-12 {
  margin-bottom: 0.75rem;
}

.margin-y-12 {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}
