$grey: #f2f2f2;
$white: hsl(0, 0%, 100%);
$lightblue: #3988ff;
$bordergrey: #cccccc;
$lightgrey: #63666a;
$lightwhite: #e5e5e5;
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.5rem; // 24px
