<app-auth-card>
  <app-auth-header
    containerClass="margin-bottom-45"
    text="Şifrenizi sıfırlamak istediğiniz"
    subText="E-Mail adresini girin"
  ></app-auth-header>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
    <app-input-text
      labelText="E-Mail"
      placeholder="E-mail adresinizi giriniz"
      formControlName="email"
      type="email"
    ></app-input-text>

    <button class="btn-block btn-primary margin-top-12" type="submit">
      Şifremi Sıfırla
    </button>

    <div class="d-flex justify-content-center margin-top-45">
      <a class="btn-link" routerLink="/">veya Giriş Yapın</a>
    </div>
  </form>
</app-auth-card>
